body {
    font-family: Arial, Helvetica, sans-serif;
    background: #420069;
}

#content {
    width: 600px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 1px solid #276672;
}

h1 {
	text-align: center;
}

p {
	color: green;
	font-weight: bold;
	text-align: center;
}

label {
    display: block;
    width: 20em;
    text-align: right;
    padding-right: 10em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 75px;
}

#futureValue {
    color: #666666;
}

br {
    clear: left;
}